.red {
    color: #DC143C;
    text-decoration: underline;
}

.game,
#game2,
#game3 {
    border: black solid 3px;
}

.game {
    min-height: 85vh;
}

#game2 {
    min-height: 100vh;
}

#game3 {
    min-height: 90vh;
}

.gameSelection {
    font-weight: 600;
    font-size: 24px;
}

.player {
    position: relative;
    z-index: 9;
}

a {
    color: inherit;
}

#body {
    background-color: #99a7ea;
}

#body1 {
    background-color: #dd7467;
}

#body3 {
    background-color: #967da9;
}

footer i {
    color:aliceblue;
    background-color: #2a363b;
    padding: 2px 5px 5px 5px;
    font-weight: 300;
}