.red {
    color: #DC143C;
    text-decoration: underline;
}

.game {
    min-height: 85vh;
}

#game2 {
    min-height: 100vh;
}

.gameSelection {
    font-weight: 600;
    font-size: 24px;
}

.player {
    position: relative;
    z-index: 9;
}